.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: yellow;
}
.intro {
    grid-column: 1 / span 3;
}
.mody {
    grid-row: 1 / span 2;
}

.flex {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    background-color: lightblue;
}

article {
    width: 300px;
    border: .25ch solid black;
}